page-article {
  .media img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  img.img-fluid {
    margin: 0 -16px;
  }

  i.fa {
    font-size: 1.6em;
    color: #5d5a88;
  }
}
