<!--
  Generated template for the DiscoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Saved Articles</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <!-- refresher needs to be the first child of content -->
    <ion-refresher (ionRefresh)="getSavedArticles($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing your articles feed...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list approxItemHeight="120px" approxItemWidth="100%" [virtualScroll]="articles" [virtualTrackBy]="trackByArticleId">
      <div *virtualItem="let article" style="width: 100%;">
        <page-article-card [article]="article">
        </page-article-card>
      </div>
    </ion-list>
    <div class="text-center" style="margin-top: -20px; margin-bottom: 16px;" *ngIf="articles.length">
      .
      <br> .
      <br> . <br>
      <br> Congrats! You've found the end to everything... 
    </div>
    <div class="text-center mx-5" ion-text color="dark" style="margin-top: 50%;" *ngIf="articles.length == 0" padding-horizontal>
      Articles which you have saved will appear here.
    </div>
  </ion-content>